__pycache__/**
**/__pycache__/**

plots*/**
char/**
export/**
experiments/**

models/**
test_results/**
image_data_sets_path.txt
jet_clustering_stuct.pptx
~$jet_clustering_stuct.pptx

jobs/scripted/**
jobs/outputs/**
try**

try_code.py
look_pickle.py
