__pycache__/**
**/__pycache__/**

plots/**
char/**
export/**

models/**
test_results/**
image_data_sets_path.txt
jet_clustering_stuct.pptx
~$jet_clustering_stuct.pptx

plots2/**
jobs/scripted/**
jobs/output/**

try_code.py
